.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
    border: none;
}

.wd-modules>li {
    background-color: rgb(211, 211, 211);
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules>li>div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules>li {
    margin-bottom: 20px;
}

.module-button {
    padding: 8px;
    margin: 2px;
    border-radius: 4px;
    box-shadow: none;
    border: none;
}

.bg-color-lightgrey {
    background-color: rgb(245, 245, 245);
}

.bg-color-red {
    background-color: rgb(212, 26, 43);
}

.bg-color-lightgreen {
    background-color: rgb(159, 193, 154);
}

.fg-color-white {
    color: white;
}

.fg-color-red {
    color: red;
}

.button-left {
    text-align: left;
}

.width-230 {
    width: 230px
}

.full-width {
    width: 100%;
}