.red-text {
    color: red;
}

.left-padding {
    padding-left: 8px;
}

.mid-padding {
    margin: 16px;
}

#breadcrumb {
    /* padding: 8px; */
    margin: 16px;
    font-weight: normal;
    align-items: center;
    display: flex;

}